@import '../../common/scss/index.scss';
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .login_top {
    height: 40vh;
    .login_avatar {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      position: relative;
      background:url('../../images/favicon.ico') no-repeat center;
      background-size: 100%;
      animation: move 1s ease-out;
      animation-fill-mode: forwards;
      z-index: 1000;
    }
  }
  .login_bottom {
    height: 60vh;
    width: 100%;
    position: relative;
    background-color: #c9d9ec;
    animation: bottom 1s ease-out;
    animation-fill-mode: forwards;
    &::before {
      position: absolute;
      content: '';
      height: 15vh;
      width: 100%;
      top: -14vh;
      background-color: #c9d9ec;
      border-radius: 50% 50% 0 0;
    }
    .login_frame {
      height: 25vh;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      animation: show 2s ease-in;
      .login_username {
        display: flex;
        align-items: center;
        position: relative;
        background-color: rgb(252, 253, 253);
        border-radius: 0.1rem;
        span{
          border-right: 1px solid gray;
          position: absolute;
          left: 0.55rem;
          width: 1px;
          height: 0.4rem;
          z-index: 1000;
        }
        &::before {
          position: absolute;
          left: 0.1rem;
          content: '账号';
          line-height: 0.4rem;
          height: 0.4rem;
          width: 0.4rem;
          z-index: 1000;
        }
        input {
          position: absolute;
          height: 0.55rem;
          width: 83%;
          font-size: 0.25rem;
          border-radius: 0.1rem;
          padding-left: 0.7rem;
          transition: 0.2s all linear;
          &:focus {
            border: 3px solid rgb(50, 153, 212);
          }
        }
      }
      .login_password {
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 0.1rem;
        span{
          border-right: 1px solid gray;
          position: absolute;
          left: 0.55rem;
          width: 1px;
          height: 0.4rem;
          z-index: 1000;
        }
        &::before {
          position: absolute;
          line-height: 0.4rem;
          left: 0.1rem;
          content: '密码';
          height: 0.4rem;
          width: 0.4rem;
          z-index: 1000;
        }
        input {
          position: absolute;
          height: 0.55rem;
          width: 83%;
          font-size: 0.25rem;
          border-radius: 0.1rem;
          padding-left: 0.7rem;
          transition: 0.2s all linear;
          &:focus {
            border: 3px solid rgb(50, 153, 212);
          }
        }
      }
    }
    .login_options {
      display: flex;
      justify-content: space-around;
      padding: 0 1rem 0 1rem;
      animation: show 2s ease-in;
    }
  }
}

@keyframes move {
  from {
    top: 0;
  }
  to {
    top: 18vh;
  }
}

@keyframes bottom {
  from {
    bottom: -10vh;
  }
  to {
    bottom: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}